/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

h1{
  color: blue;
}

li {
  color: rgb(0,200,0);
}

p{
  color: #000000;
}

h4{
  /* the difference between rgb and rgba is the last, a, is between
  0 and 1, 0 being translucent and 1 being opaque. */
  color: rgba(13,90,140,0.5)
}
