h1 {
  font-family: fantasy;
text-align: center;
}
table{
  margin-left: auto;

}
#one {
color: rgba(0, 0, 0, 0);
background-color: #05668D;
padding: 0px 75px 150px 75px;

}
#two {
  color: rgba(0, 0, 0, 0);
  background-color: #028090;
  padding: 150px 75px 150px 75px;


}
#three {
  color: rgba(0, 0, 0, 0);
  background-color: #00A896;
  padding: 150px 75px 150px 75px;

}
#four {
  color: rgba(0, 0, 0, 0);
  background-color: #02C39A;
  padding: 150px 75px 150px 75px;

}
#five {
  color: rgba(0, 0, 0, 0);
  background-color: #F0F3BD;
  padding: 150px 75px 150px 75px;

}
